{% extends "base_main.html" %}
{% block main %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1 class="text-center mb-4">Cart</h1>
        
         {% include "carts/components/_cart_products.html" %}
      </div>
      
      <div class="col-md-4">
        <h2>Final information</h2>
        <p>Total products quantity: <strong>{{ cart.cart_total_quantity }}</strong></p>
        <p>Total price: <strong>{{ cart.cart_total_price }} $</strong></p>
        <a href="{% if disable_payment %}#{% else %}{% url "carts:checkout" %}{% endif %}" class="btn btn-primary">Checkout</a>
      </div>
    </div>
  </div>
{% endblock main %}
