
        {% comment %} <div class="ui massive centered header">Category list</div> {% endcomment %}
        <div class="ui grid">
          <div class="sixteen wide column right aligned">
          {% include "products/components/_sorting_menu.html" with is_category=True %}
        </div>
      </div>


    <div class="card-grid">
      {% for category in categories %}
      <a href = '{{ category.get_absolute_url }}'>
    {% include "products/components/_category_card.html" %}
      </a>
    {% endfor %}
  </div>
