{% load static %}
<div class="ui subcategory card">
  <div class="image">
    <img loading="lazy"
         src="{% if category.image %}{{ category.image.url }}
              {% elif category.products.first and category.products.first.first_photo %}{{ category.products.first.first_photo }}
              {% else %}{% static 'images/placeholder.png' %}
              {% endif %}"
         alt="{{ item.title }}">
  </div>
  <div class="content">
    <div class="header">{{ category.title }}</div>
  </div>
</div>
