{% load products_tags %}

{% favourite_products request as fav_ids %}
{% if product not in fav_ids or not request.user.is_authenticated %}
<a href="{% url "products:add_to_favourites" product.slug %}" class="ui icon button" ><i class="heart outline icon {% if not without_outline %}outlined-heart{% endif %}" title="To favourites"></i></a>
{% else %}
<a href="{% url 'products:remove_from_favourites' product.slug %}" class="ui icon button">
    <i class="heart icon" style="color: red;" title="Remove from favourites"></i>
  </a>
{% endif %}