{% load products_tags %}
{% load main_tags %}



  <div class="filter-box">
    <div class="ui medium header">Filtering</div>

    <form class="ui form" method="get">
      <div class="filter-scroll">
      {% for characteristic in characteristics  %}
      <div class="grouped fields" data-section-name="{{ characteristic.title }}">
        <label>{{ characteristic.title }}</label>
        <div class="characteristics-wrapper">
        {% for product_characteristic in characteristic|get_product_characteristics  %}
        <div class="characteristic-value">
          <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" 
            name="{{ characteristic.slug }}" 
            value="{{ product_characteristic.value }}" 
            id="{{ product_characteristic.product }}-{{ characteristic.title }}" 
            data-label="{{ product_characteristic.value }}"
            {% if product_characteristic.value in selected_filters|get_item_from_dict:characteristic.slug %}checked{% endif %}>
            <label for="{{ product_characteristic.product }}-{{ characteristic.title }}">{{ product_characteristic.value }}</label>
          </div>
        </div>
      </div>
        {% endfor %}
      </div>
      </div>
      {% endfor %}


      <div class="grouped fields">
        <label>Brand</label>
        <div class="characteristics-wrapper">
          {% for brand in brands %}
          <div class="characteristic-value">
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" 
                       name="brand" 
                       value="{{ brand.slug }}"
                       id="brand-{{ brand.slug }}"
                       {% if brand.slug|stringformat:"s" in selected_brands %}checked{% endif %}>
                <label for="brand-{{ brand.slug }}">{{ brand.name }}</label>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


        <div class="filter-footer">
      <div class="field">
        <label>Price</label>
        <div class="ui two column grid">
          <div class="column">
            <input type="number" id="price_from" name = 'price_from' placeholder="From" value="{{ saved_ui_state.price_from|default:"" }}">
          </div>
          <div class="column">
            <input type="number" id="price_to" name = 'price_to' placeholder="To" value="{{ saved_ui_state.price_to|default:"" }}">
          </div>
        </div>

        <div id="rangeSlider" data-min-price="{{ min_price|floor_int }}" data-max-price="{{ max_price|ceil_int }}"
        data-initial-min-price = "{{ saved_ui_state.price_from|default:"" }}"
        data-initial-max-price= "{{ saved_ui_state.price_to|default:"" }}"></div>
      </div>

      <div class="two ui buttons" style="margin-top: 1.5em;">
      <button type="button" id = 'applyFilters' class="ui blue button" {% if subcategory %}data-slug="{{ subcategory.slug }}"{% endif %} data-url="{% url 'products:save_filters' %}">Apply filters</button>
        <div class="or"></div>
      <a href="{% url 'products:reset_filters' category_slug=subcategory.parent.slug subcategory_slug=subcategory.slug %}" class="ui button">Reset filters</a>
      </div>
    </div>
    </form>
  </div>