

<div class="ui modal custom-modal">
  <i class="close icon"></i>
  <div class="header">{{ subcategory.title }}: Popular products</div>
  <div class="content">
  <div class="ui three stackable cards">
    {% for product in products %}
    {% include "products/components/_product_card.html" %}
    {% endfor %}
  </div>
</div>
<div class="actions" style="text-align: right; padding: 1em 1.5em;">
  <a href="{{ subcategory.get_absolute_url }}" class="ui primary button">
    Details...
    <i class="arrow right icon"></i>
  </a>
</div>
</div>
  