{% load products_tags %}
{% load main_tags %}

{% if page_obj.has_other_pages %}
<div class="pagination-container">
  <div class="ui pagination menu">
    {% if page_obj.has_previous %}
        <a class="item" href="?{% change_params page=page_obj.previous_page_number %}">Previous</a>
      {% else %}
        <div class="disabled item">Previous</div>
      {% endif %}
      {% for page in page_obj.paginator.page_range %}
        {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
          {% if page == page_obj.number %}
            <div class="active item">{{ page }}</div>
          {% else %}
            <a class="item" href="?{% change_params page=page %}">{{ page }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a class="item" href="?{% change_params page=page_obj.next_page_number %}">Next</a>
      {% else %}
        <div class="disabled item">Next</div>
      {% endif %}
  </div>
</div>
{% endif %}