{% load products_tags %}

  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="product-images">
    {% if product.first_photo %}
        <div class="main-image">
          <img id="mainProductImage" 
          src="{{ product.first_photo }}" 
          alt="{{ product.title }}"
          data-index="0">
        </div>
        {% endif %}
      
        <div class="thumbnail-column">
          {% for image in small_images  %}
   <img src="{{ image.image.url }}"
               class="ui tiny image preview-image"
               data-index="{{ forloop.counter }}" />
   {% endfor %}
        </div>
      
        <div class="product-info">
      <div class="ui large centered header product-title">
        <div class="title-with-icons">
          <span class="product-name">{{ product.title }} {{ product.sku }}</span>
        {% if not product.user == request.user %}
            <div class="ui icon buttons icon-buttons">
{% include "products/components/_favourite_button.html" with without_outline=True %} 
            <a class="ui icon button" title="To cart" href="{% url "carts:add_to_cart" product.slug %}"><i class="shopping cart icon"></i></a>
          </div>
          {% endif %}
        </div>
        </div>
        <div class="ui labels" style="margin-top: 0.5em;">
          {% if product.user == request.user %}
          <a class="ui small teal label" href="{% url 'users:profile' %}">Your product</a>
          {% endif %}
          <a class="ui small red label" href="{% url 'products:brand_details' product.brand.slug %}">{{ product.brand.name }}</a>
          {% for tag in product.tags.all  %}
            <a class="ui small grey custom-tag label" data-url="{% url 'products:tag_products' product.slug tag.slug %}">{{ tag.name }}</a>
            {% endfor %}
          </div>
          <div class="price">
            {% if product.discount %}
        <span class="old-price">${{ product.price }}</span>
        <span class="new-price">${{ product.full_price }}</span>
        <span class="discount-label">-{{ product.discount }}%</span>
        {% else %}
        <span class="price">${{ product.price }}</span>
        {% endif %}
          </div>
          {% if product.warranty %}
<div class="ui section">
  <strong>Warranty:</strong> {{ product.warranty }} years
</div>
{% endif %}
          
          
          <div class="ui relaxed divided list" style="margin-top: 1em;">
            <div class="ui grid">
              {% for product_characteristic in product.product_characteristics.all  %}
    {% if product_characteristic.characteristic.main %}
    <div class="eight wide column"><strong>{{ product_characteristic.characteristic.title }}:</strong> {{ product_characteristic.value }}</div>
    {% endif %}
    {% endfor %}
            </div>
          </div>
          {% if request.user == product.user %}
<div class="ui divider"></div>
<div class="ui segment owner-info">
  <div><strong>Quantity:</strong> {{ product.quantity }}</div>
  <div><strong>Views:</strong> {{ product_views }}</div>
  <div><strong>Created at:</strong> {{ product.created_at }}</div>
  <div><strong>Updated at:</strong> {{ product.updated_at }}</div>
  {% comment %} <div><strong>Status:</strong> 
    {% if product.is_active %}
      <span class="ui green label">Active</span>
    {% else %}
      <span class="ui red label">Inactive</span>
    {% endif %}
      </div> {% endcomment %}
    {% comment %} {% if not product.is_active %}
  {% with has_pending=product.activation_requests.all|dictsort:"-created"|first %}
  <form method="post" action="{% url 'products:product_request_activation' product.slug %}" style="display:inline">
    {% csrf_token %}
    <button class="ui orange button">
      <i class="flag outline icon"></i> Request activation
    </button>
  </form>
  {% endwith %}
{% endif %} {% endcomment %}
<div class="owner-info-row">
  <div>
    <strong>Status:</strong>
    {% if product.is_active %}
      <span class="ui green label">Active</span>
    {% else %}
      <span class="ui red label">Inactive</span>
    {% endif %}
  </div>

  {% if not product.is_active %}
      <form method="post"
            action="{% url 'products:product_request_activation' product.slug %}"
            class="inline-form">
        {% csrf_token %}
        <button class="ui tiny orange button">
          <i class="flag outline icon"></i>
          Request activation
        </button>
      </form>
  {% endif %}
</div>
  <div style="margin-top: 0.5em;">
    <a class="ui icon button" title="Edit product" href={% url "products:product_edit" product.slug %}>
      <i class="edit icon"></i>
    </a>
    {% if product.is_active %}
    <a class="ui icon button" title="Delete product" href={% url "products:product_deactivate" product.slug %}>
      <i class="ban icon"></i>
    </a>
    {% endif %}
  </div>
</div>
{% endif %}

        </div>
      </div>
      
    </div>
  </div>



<div id="imagePreviewModal" class="ui fullscreen modal">
  <i class="close icon"></i>
  <div class="content">
      <i class="big nav-arrow circular chevron left icon"></i>
      <img id="modalPreviewImage" src="" alt="Preview Image">
      <i class="big nav-arrow circular chevron right icon"></i>
    <div class="modal-thumbnails actions">
    </div>
  </div>
</div>
