{% load static %}
{% load products_tags %}


{% static 'images/placeholder.png' as IMG_PLACEHOLDER %}

  <div class="ui card product-card {% if product.discount %}discount-card{% endif %}">
    <div class="overlay">
      <div class="overlay-content">
        {% if not product.user == request.user %}
        {% include "products/components/_favourite_button.html" %}
        <a href="{% url "carts:add_to_cart" product.slug %}"><i class="shopping cart icon" title="To cart"></i></a>
        {% endif %}
        <a href="{{ product.get_absolute_url }}" class="ui mini inverted button">Details</a>
      </div>
    </div>
    <div class="image product-image-container">
      {% with img=product.prefetched_images|first %}
      <img 
        loading="lazy"
        src="{% if img %}{{ img.image.url }}{% else %}{{ IMG_PLACEHOLDER }}{% endif %}" 
        alt="{{ product.title }}"
      >
      {% endwith %}
    </div>
  
    <div class="content">
  <div class="ui medium centered header">{{ product.title }}</div>

      <div class="meta">
         {% if product.discount %}
        <span class="old-price">${{ product.price }}</span>
        <span class="new-price">${{ product.full_price }}</span>
        <span class="discount-label">-{{ product.discount }}%</span>
        {% else %}
        <span class="price">${{ product.price }}</span>
        {% endif %}
      </div>
      {% if product.summary %}
      <div class="description">
        {{ product.summary|truncatewords:15 }}
      </div>
      {% endif %}
    </div>
  </div>