  <div class="ui bottom attached {% if ui_state.tab == 'information' or not ui_state.tab %}active{% endif %} tab segment" data-tab="info">
    {% include "products/components/_product_description.html" %}

    {% if recommended_products %}
      {% include "products/components/_recommended_products.html" %}
    {% endif %}

    </div>

    <div class="ui bottom attached {% if ui_state.tab == 'reviews' %}active{% endif %} tab segment" data-tab="reviews">
        {% include "products/components/_reviews_section.html" %}
  </div>
  <div class="ui modal" id="reviewModal">
    <div class="header">
      <i class="edit icon"></i> Write a Review
    </div>
      {% include "products/components/_review_form.html" %}

  </div>
  