{% load products_tags %}
{% load main_tags %}
{% comment %} <div class="product-card">
  <a href = '{{ product.get_absolute_url }}'><img src="{{ product.first_photo }}" alt="" class="product-image"></a>
  <div class="product-details">
    {% with query=request.GET.q|default:"" %}
      <a href = '{{ product.get_absolute_url }}'><h5>{{ product.title|highlight:query }}</h5></a>
      <p>Price: {{ product.price }} $</p>
      <div class="product-tags">
        {% for tag in product.tags.all|display_tags:query  %}
        <span class="tag">{{ tag.text|safe }}</span>
        {% endfor %}
      </div>
      <p class="card-text">
        {{ product.summary|highlight:query }}
      </p>
      <dl class="product-characteristics">
        {% for product_characteristic in product.product_characteristics.all  %}
        {% if product_characteristic.characteristic.main %}
        <dt>{{ product_characteristic.characteristic.title }}:</dt><dd>{{ product_characteristic.value }}</dd>
        {% endif %}
        {% endfor %}
      </dl>
      {% endwith %}
    </div>
    {% include "products/components/_favourite_button.html" %}
    <a href="{% url "carts:add_to_cart" product.slug %}" class="btn btn-primary">Add to cart</a>
  </div> {% endcomment %}


  <div class="product-detailed-card">
    {% with query=request.GET.q|default:"" %}
    <div class="product-info">
    {% if product.first_photo %}
      
      <img src="{{ product.first_photo }}" alt="">
      {% endif %}
      <div class="product-details">
        <div class="top-part">
          <div class="ui purple tiny label">{{ product.category }}</div>
          {% if product.discount %}
          <div class="ui red tiny label">-{{ product.discount }}%</div>
          {% endif %}
          <div class="ui third blue header">{% if not product.is_active %}
        <div class="ui grey tiny label" >
          Not active
        </div>
        {% endif %}{{ product.title|highlight:query }}</div>
          <div class="ui labels" style="margin-left: 0.5em;">
          {% for tag in product.tags.all|display_tags:query  %}
            <div class="ui small grey label">{{ tag.text|safe }}</div>
            {% endfor %}
          </div>
        </div>
      <div class="bottom-part">
          <p>{{ product.summary|highlight:query }}</p>
          <div class="price-block">
          {% if product.discount %}
            <span class="old-price">${{ product.price }}</span>
            <span class="new-price">${{ product.full_price }}</span>
            <span class="discount-label">-{{ product.discount }}%</span>
            {% else %}
            <span class="price">${{ product.price }}</span>
            {% endif %}
          </div>
          <div class="ui horizontal list" style="margin-top: 1em;">
            {% for product_characteristic in product.product_characteristics.all  %}
          {% if product_characteristic.characteristic.main %}
          <div class="item"><strong>{{ product_characteristic.characteristic.title }}:</strong> {{ product_characteristic.value }}</div>
          {% endif %}
          {% endfor %}

          </div>
      </div>
      </div>
    </div>
    {% endwith %}
    <div class="overlay">
      <div class="overlay-content">
        {% if not product.user == request.user %}
        {% include "products/components/_favourite_button.html" %}
        <a href="{% url "carts:add_to_cart" product.slug %}"><i class="shopping cart icon" title="To cart"></i></a>
        {% endif %}
        <a href="{{ product.get_absolute_url }}" class="ui mini inverted button">Details</a>
      </div>
    </div>
  </div>