  {% load static %}
  {% static 'images/placeholder.png' as IMG_PLACEHOLDER %}

  <div class="ui subcategory card" data-subcategory-slug="{{ subcategory.slug }}" data-url="{% url 'products:subcategory_products' subcategory.slug %}">
    <div class="image">

      <img 
        loading="lazy"
        alt="{{ subcategory.title }}"
        src="{% with p=subcategory.prefetched_products.0 %}
            {% if subcategory.image %}{{ subcategory.image.url }}
            {% elif p and p.first_photo %}
              {{ p.first_photo }}
            {% else %}
              {% static 'images/placeholder.png' %}
            {% endif %}
            {% endwith %}"
      >
    </div>
    <div class="content">
      <div class="header">{{ subcategory.title }}</div>
    </div>
  </div>