  {% load static %}
  {% static 'images/placeholder.png' as IMG_PLACEHOLDER %}

  <div class="ui subcategory card" data-subcategory-slug="{{ subcategory.slug }}" data-url="{% url 'products:subcategory_products' subcategory.slug %}">
    <div class="image">

      <img 
        loading="lazy"
        alt="{{ subcategory.title }}"
        src="{% if subcategory.image %}{{ subcategory.image.url }}
            {% elif subcategory.products.first and subcategory.products.first.first_photo %}
              {{ subcategory.products.first.first_photo }}
            {% else %}
              {% static 'images/placeholder.png' %}
            {% endif %}"
      >
    </div>
    <div class="content">
      <div class="header">{{ subcategory.title }}</div>
    </div>
  </div>