        {% load i18n %}

        {% for ordered_product in cart.ordered.all %}
        {% if ordered_product.quantity > 0 and ordered_product.product %}
        {% with product_quantity=ordered_product.product.quantity|default:0 %}
        <div class="product-cart-card{% if ordered_product.quantity|default:0 > product_quantity %} out-of-stock{% endif %}">
          {% if ordered_product.quantity|default:0 > product_quantity %}
          <div class="stock-overlay">
          <div class="ui message" style="background: rgba(128,128,128,0.1); padding: 5px; margin-bottom: 5px;">
            <p>{% blocktrans with stock=product_quantity %}Available stock: {{ stock }}{% endblocktrans %}</p>
            <a href="{% url 'carts:reduce_quantity' ordered_product.pk %}" class="ui yellow mini button">Reduce quantity</a>
          </div>
          </div>
          {% endif %}
          {% include "carts/components/_product_cart_details.html" %}
        </div>
        {% endwith %}
        {% endif %}
        {% empty %}
          <div class="ui message">
            {% trans "Your cart is empty." %}
          </div>
        {% endfor %}
