{% load i18n %}
{% load static %}
{% static 'images/placeholder.png' as IMG_PLACEHOLDER %}

<a href="{{ product.get_absolute_url }}">
  {% with img=product.prefetched_images|first %}
  <img
      loading="lazy"
      src="{% if img %}{{ img.image.url }}{% else %}{{ IMG_PLACEHOLDER }}{% endif %}"
      alt="{{ product.title }}"
      class="product-image"
  >  
  {% endwith %}
  </a>
  <div class="product-details">
    <a href="{{ product.get_absolute_url }}"><div class="ui medium blue header">{{ product.title }}</div></a>
    <p>{% trans "Price per item:" %}</p>
    {% if product.discount %}
    <div class="price-block">
      <span class="old-price">${{ product.price }}</span>
      <span class="new-price">${{ product.full_price }}</span>
      <span class="discount-label">-{{ product.discount }}%</span>
    </div>
    {% else %}
    <strong>${{ product.price }}</strong>
    {% endif %}
    <div class="quantity-controls">
      <a class="ui mini button {% if quantity <= 1 %}disabled{% endif %}" href="{% url "carts:remove_from_cart" product.slug %}">-</a>
      <span class="quantity">{{ quantity }}</span>
      <a class="ui mini button {% if quantity >= product_quantity %}disabled{% endif %}" href = "{% url "carts:add_to_cart" product.slug %}">+</a>
    </div>
    <p>{% trans "Total product price:" %} <strong>${{ ordered_product.total_price }}</strong></p>
  </div>
  <a class="ui red button delete-btn" href="{% url "carts:delete_full_from_cart" product.slug %}">{% trans "Delete" %}</a>