{% extends "base_main.html" %}


{% block main %}
<div class="ui container" style="padding: 3em 0;">
  <div class="ui stackable grid" style="margin-bottom:1.5em;">
    <div class="eight wide column">
      <h1 class="ui huge header" style="margin:.2em 0 0;">
        <i class="graduation cap icon"></i>
        <div class="content">
          {% if subject %}Courses in "{{ subject.title }}"{% else %}All Courses{% endif %}
          <div class="sub header">Browse and enroll</div>
        </div>
      </h1>
    </div>
    <div class="eight wide column right aligned">
      <div class="actions-right">
        {% include "courses/components/_courses_navigation.html" %}
      </div>
    </div>
  </div>

  <div class="ui stackable grid" style="margin-top: 0.5rem;">
    <div class="four wide column">
      <div class="ui segment">
        <h4 class="ui dividing header">Subjects</h4>
        <div class="ui relaxed list">
          <a href="{% url 'courses:course_list' %}" class="item {% if not subject %}active{% endif %}">
            <div class="content">
              <div class="header">All Subjects</div>
            </div>
          </a>
          {% for s in subjects %}
            <a href="{% url 'courses:course_list_subject' s.slug %}" class="item {% if subject == s %}active{% endif %}">
              <div class="content">
                <div class="header">{{ s.title }}</div>
                <div class="description">{{ s.total_courses }} course{{ s.total_courses|pluralize }}</div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="twelve wide column">
      {% if courses %}
        <div class="ui stackable three cards">
          {% for course in courses %}
            {% include "courses/components/_course_card.html" with course=course %}
          {% endfor %}
        </div>
      {% else %}
        <div class="ui warning message">
          <div class="header">No courses available</div>
          <p>Currently there are no courses in this subject.</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}