<div class="ui divider section-title">Address Info</div>
<div class="field">
    <label>Address</label>
      {{ address_form.address_field1 }}
  </div>
  <div class="field">
    <label>Additional address</label>
    {{ address_form.address_field2 }}
</div>

  <div class="field">
    <label>City</label>
    {{ address_form.city }}
</div>

  <div class="three fields">
    <div class="field">
      <label>State</label>
      {{ address_form.state }}
    </div>
    <div class="field">
      <label>Country</label>
      {{ address_form.country }}
    </div>
    <div class="field">
      <label>Postcode</label>
      {{ address_form.postal_code }}
    </div>
  </div>