<div class="field">
    <label>First name(s)</label>
    <div class="ui left icon input">
      {{ form.first_name }}
      <i class="user icon"></i>
    </div>
  </div>
  <div class="field">
    <label>Last name(s)</label>
    <div class="ui left icon input">
      {{ form.last_name }}
      <i class="users icon"></i>
    </div>
  </div>
  <div class="field">
    <label>Email</label>
    <div class="ui left icon input">
      {{ form.email }}
      <i class="mail icon"></i>
    </div>
  </div>
  <div class="field">
    <label>Phone</label>
    <div class="ui left icon input">
      {{ form.phone }}
      <i class="phone icon"></i>
    </div>
  </div>