{% extends "base.html" %}
{% block main %}
<div class="reset-card">
  <div class="ui large header centered">🔑 Enter a new password</div>
    <form method="post" class="ui form">
      {% csrf_token %}
      <div class="field">
        <label>New password</label>
        {{ form.new_password1 }}
      </div>
      <div class="field">
        <label>Confirm password</label>
        {{ form.new_password2 }}
      </div>   
      <button type="submit" class="ui blue fluid button">Save the new password</button>

  </form>
</div>
{% endblock main %}
