{% extends "base.html" %}

{% block main %}
<div class="reset-card">
  <div class="ui large header centered">🔑 Enter a new password</div>

  <form method="post" class="ui form {% if form.errors %}error{% endif %}">
    {% csrf_token %}

    <div class="field {% if form.new_password1.errors %}error{% endif %}">
      <label>New password</label>
      {{ form.new_password1 }}
      {% if form.new_password1.help_text %}
        <div class="ui tiny info message" style="margin-top:.5em">
          {{ form.new_password1.help_text|safe }}
        </div>
      {% endif %}
      {% if form.new_password1.errors %}
        <div class="ui pointing red basic label" style="margin-top:.5em">
          {{ form.new_password1.errors|striptags }}
        </div>
      {% endif %}
    </div>

    <div class="field {% if form.new_password2.errors %}error{% endif %}">
      <label>Confirm password</label>
      {{ form.new_password2 }}
      {% if form.new_password2.errors %}
        <div class="ui pointing red basic label" style="margin-top:.5em">
          {{ form.new_password2.errors|striptags }}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="ui blue fluid button">Save the new password</button>
  </form>
</div>
{% endblock main %}