{% extends "base.html" %}
{% block main %}
<div class="reset-card">

  <h2 class="ui massive header center aligned">🔐 Password Reset</h2>
  <p>Enter your email and we’ll send you instructions to reset your password.</p>
  <form method="post" class="ui form">
      {% csrf_token %}
      <div class="field">
        <label>Email</label>
        <div class="ui left icon input">
          {{ form.email }}
          <i class="mail icon"></i>
        </div>
      </div>
      <button type="submit" class="ui primary fluid button">Reset password</button>
  </form>
</div>
{% endblock main %}
