{% extends "base_main.html" %}

{% load products_tags %}
{% load static %}

{% block main %}
    <!-- Информация о пользователе -->
  <div class="ui centered massive header">👤 User Profile</div>


      <div class="ui segment profile-section">
        <div class="ui grid">
          <div class="thirteen wide column">
            <p><strong>Firstname:</strong> {{ user.first_name }}</p>
            <p><strong>Lastname:</strong> {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
      {% if user.phone %}
            <p><strong>Phone:</strong> {{ user.phone }}</p>
            {% endif %}
      {% if user.address %}
            <p><strong>Address:</strong> {{ user.address.address_field1 }}, {% if user.address.address_field2 %}{{ user.address.address_field2 }},{% endif %} 
              {{ user.address.city }}, {% if user.address.state %}{{ user.address.state }},{% endif %} {{ user.address.country }}, {{ user.address.postal_code }}</p>
              {% endif %}
          </div>
          <div class="three wide column right aligned">
            <a class="ui blue icon button" href="{% url "users:user_edit" %}">
              <i class="edit icon"></i> Edit Profile
            </a>
          </div>
        </div>
      </div>
  
    <section id="profile-tabs">
      {% comment %} <div class="tabs mb-3">
        {% if products %}
        <a href="?{% change_params tab='favourites' %}">
            <button class="tab-button {% if request.GET.tab == 'favourites' or not request.GET.tab %}active{% endif %}" data-tab="favourites">Favourites</button>
        </a>
        {% endif %}
        {% if cart.cart_total_quantity > 0 %}
        <a href="?{% change_params tab='cart' %}">
            <button class="tab-button {% if request.GET.tab == 'cart' %}active{% endif %}" data-tab="cart">Cart</button>
        </a>
        {% endif %}
        {% if completed_orders %}
        <a href="?{% change_params tab='orders' %}">
            <button class="tab-button {% if request.GET.tab == 'orders' %}active{% endif %}" data-tab="orders">Completed orders</button>
        </a>
        {% endif %}
      </div> {% endcomment %}



      <div class="ui top attached tabular menu">
        {% if products %}
        <a href="?{% change_params tab='favourites' %}" class="{% if request.GET.tab == 'favourites' or not request.GET.tab %}active{% endif %} item" data-tab="favourites">❤️ Favourites</a>
        {% endif %}
        {% if cart.cart_total_quantity > 0 %}
        <a href="?{% change_params tab='cart' %}" class="{% if request.GET.tab == 'cart' %}active{% endif %} item" data-tab="cart">🛒 Cart</a>
        {% endif %}
        {% if completed_orders %}
        <a href="?{% change_params tab='orders' %}" class="{% if request.GET.tab == 'orders' %}active{% endif %} item" data-tab="orders">📦 Orders</a>
        {% endif %}
      </div>




      <div class="tab-content">
        {% if products %}
        <div class="ui bottom attached {% if request.GET.tab == 'favourites' or not request.GET.tab %}active{% endif %} tab segment" data-tab="favourites">
  <h3 class="ui large header">Your Favourite Products

  </h3>

          {% include "products/components/_favourite_list.html" %}
        </div>
        {% endif %}

        {% if cart.cart_total_quantity > 0 %}
          <div class="ui bottom attached {% if request.GET.tab == 'cart' %}active{% endif %} tab segment" data-tab="cart">
  <h3 class="ui large header">Your Cart</h3>

            {% include "carts/components/_cart_products.html" %}
            <div class="cart-summary" style="margin-top: 1rem;">
              <p>Total products quantity: <strong>{{ cart.cart_total_quantity }}</strong></p>
                <p>Total price: <strong>${{ cart.cart_total_price }}</strong></p>
              </div>
        </div>
        {% endif %}

        {% if completed_orders %}
  <div class="ui bottom attached {% if request.GET.tab == 'orders' %}active{% endif %} tab segment" data-tab="orders">

  <h3 class="ui large header">🧾 Completed Orders</h3>

 
  <div class="ui styled fluid accordion">
  {% for order in completed_orders %}
  <div class="title">
    <i class="dropdown icon"></i>
    <strong>Order #{{ order.order_number }}</strong> — <span>📅 {{ order.date_completed|date:"d.m.Y" }}</span> — 
    <span><strong>Total:</strong> ${{ order.cart_total_price }}</span>
  </div>
  <div class="content">
    <div class="ui bulleted list">
      {% for ordered_product in order.ordered.all %}
          {% if ordered_product.quantity > 0 %}
          <div class="item">
            <strong>{{ ordered_product.product.title }}</strong> — ${{ ordered_product.product.full_price }} × {{ ordered_product.quantity }} = <strong>${{ ordered_product.total_price }}</strong>
          </div>
          {% endif %}
          {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endif %}
      </div>
    </section>
{% endblock main %}

{% block additional_script %}
<script src='{% static "js/toggle_completed_orders.js" %}'></script>
{% endblock additional_script %}
