{% extends "base_main.html" %}

{% load products_tags %}
{% load static %} 

{% block main %}
  <div class="ui centered massive header">👤 User Profile</div>
  {% include "users/components/_profile_header.html" %}
  {% with active_tab=saved_ui_state.tab|default:'favourites' %}
    <section id="profile-tabs">
{% include "users/components/_profile_tabs_menu.html" %}
      <div class="tab-content">
        {% include "users/components/_profile_tabs.html" %}
      </div>
    </section>
    {% endwith %}
    <div class="ui modal" id="product-modal">
      <div class="header">
        <i class="add icon"></i> Add a product
      </div>
        {% include "products/components/_product_form.html" %}
    </div>
{% endblock main %}
{% block additional_script %}
<script src='{% static "js/toggle_completed_orders.js" %}'></script>
<script src="{% static "js/profile.js" %}"></script>
<script src = '{% static "js/sort.js" %}' ></script>
<script src = '{% static "js/tabs.js" %}' ></script>
{% endblock additional_script %}
