{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="ui card register-card">
        <div class="ui centered massive header">Create your account</div>
                        <form method="post" action="{% url 'users:registration' %}" class="ui form">

                        {% csrf_token %}
                        {% include "users/components/_contact_information_form.html" %}
                          <div class="two fields">
                            <div class="field password-field">
                              <label>Password</label>
                              <div class="ui left icon input">
                                {{ form.password1 }}
                                <i class="lock icon"></i>
                              </div>
                            </div>
                            <div class="field password-field">
                              <label>Confirm Password</label>
                              <div class="ui left icon input">
                                {{ form.password2 }}
                                <i class="lock icon"></i>
                              </div>
                            </div>
                          </div>
                          
                          
                          
                          
                          

<div class="field">
    <div class="ui checkbox">
        <input type="checkbox" id="show-address" name="show-address">
        <label for="show-address">Enter your address</label>
    </div>
</div>

<div id="address-section" class="hidden" >
{% include "users/components/_address_information_form.html" %}
                        </div>
                                  {% include "users/components/_remember_me_button.html" %}

                        
                            <button type="submit" class="ui fluid primary button">Register</button>
                    </form>
            </div>
{% endblock main %}

{% block additional_script %}
<script src="{% static "js/toggle_address.js" %}"></script>
{% endblock additional_script %}
