{% extends "base_main.html" %} {% block main %}
{% load products_tags %}
{% load static %}




<div class="shop-description">
  <div class="ui massive centered header">About Our Shop</div>
  <p>
    Welcome to Tech Shop - your trusted online store for electronics and
    gadgets.
    At Tech Shop, we offer a vast selection of products, including the latest
    smartphones, laptops, tablets, PC components, home appliances, and more. Our
    commitment is to provide customers with high-quality products at competitive
    prices, along with fast and reliable delivery. We partner with leading
    brands such as Apple, Samsung, HP, Dell, Lenovo, Asus, and many others.
  </p>
  <p>
    Shopping with us means enjoying a seamless and secure experience. We offer
    24/7 customer support, multiple payment options, and a hassle-free return
    policy. Whether you're looking for cutting-edge technology or everyday
    essentials, we have something for everyone.
    Our online store is designed for convenience, allowing you to browse,
    compare, and purchase products with ease. We provide detailed descriptions,
    customer reviews, and expert recommendations to help you make informed
    decisions.
    Stay ahead with the latest technology trends by exploring our collection. We
    frequently update our inventory to ensure you have access to the newest
    innovations in the market. Sign up for our newsletter to receive exclusive
    deals, discounts, and tech news.
  </p>
  <p>
    Thank you for choosing Tech Shop. We are dedicated to bringing you the best
    technology shopping experience.
  </p>
</div>





{% include "main/components/_product_catalog.html" %}
{% include "main/components/_brand_catalog.html" %}
{% comment %} <div
  id="carouselExampleDark"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel">
  <h1 class="text-center">Popular Products</h1>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    {% with count_of_slides|add:"-1" as count %}
  {% for i in ""|center:count %}
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="{{ forloop.counter }}"
      aria-label="Slide {{ forloop.counter|add:'1' }}">
    </button>
    {% endfor %}
    {% endwith %}

  </div>
  <div class="carousel-inner">
    {% for i in ""|center:count_of_slides %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" data-bs-interval="10000">
      <div class="row justify-content-center g-4 mb-5">
        {% for i in ""|center:4 %}
        {% product_number_by_page forloop.parentloop.counter0 forloop.counter0 as prod_num %}
        {% with product=popular_products|get_item:prod_num %}
            {% include "products/components/_product_card.html" with width=18 %}
            {% endwith %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> {% endcomment %}
{% with specific_products=popular_products %}
<div class="popular-products">
  <div class="ui massive centered header">Popular products</div>
{% include "products/components/_specific_products_list.html" %}
</div>
{% endwith %}



{% endblock main %}
{% block additional_script %}
<script src="{% static "js/products_carousel.js" %}"></script>
{% endblock additional_script %}
