<footer>
  <div class="ui container">
    <div class="ui stackable three column grid">
      <div class="column">
        <h4 class="ui inverted header">About Us</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Company Info</a>
          <a href="#" class="item">News</a>
          <a href="#" class="item">Careers</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui inverted header">Support</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Shipping</a>
          <a href="#" class="item">Returns</a>
          <a href="#" class="item">FAQ</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui inverted header">Contact</h4>
        <p>Dublin, Ireland</p>
        <p>+353 (1) 234 5678</p>
      </div>
    </div>

    <div class="ui divider inverted"></div>

    <p class="footer-copy">&copy; 2025 Tech Shop. All rights reserved.</p>
  </div>
</footer>
