{% load products_tags %}
<div class="ui categories computer only">
  <div class="ui tabular category-grid stackable full-width-menu menu">
  {% parent_categories as parent_categories %}
  {% for parent_category in parent_categories  %}
  <div class="ui dropdown item category">
        <a href="{{ parent_category.get_absolute_url }}" class="link">{{ parent_category.title }}</a> <i class="dropdown icon"></i>
        <div class="menu">
      {% child_categories parent_category '10' as subcategories %}
      {% for subcategory in subcategories  %}
        <a href="{{ subcategory.get_absolute_url }}" class="item">{{ subcategory.title }}</a>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
</div>
