{% extends "base_main.html" %}
{% load static %}
{% load products_tags %}
{% block main %}

  <div class="ui massive centered header">Brand: "{{ brand.name }}"
    {% with subscribed=brand|is_subscribed:user %}
    <button id="subscribe-btn" 
    class="ui {% if subscribed %}red{% else %}primary{% endif %} button"
    data-url="{% url 'products:subscribe_brand' %}" 
    data-brand-id="{{ brand.id }}"
    data-action="{% if subscribed %}unsubscribe{% else %}subscribe{% endif %}">
    {% if subscribed %}Unsubscribe{% else %}Subscribe{% endif %}
      </button>
      {% endwith %}
  </div>
  {% if products %}
                {% include "products/components/_product_list.html" %}
    {% else %}
        <p>This brands doesn't have any products yet.</p>
    {% endif %}
{% endblock %}
{% block additional_script %}
<script src = '{% static "js/endless_list.js" %}' ></script>
<script src = '{% static "js/brand.js" %}' ></script>
{% endblock additional_script %}
