{% extends "base_main.html" %}
{% load static %}
{% block main %}
    <div class="ui breadcrumb">
      <a href="{% url 'main:index' %}" class="section">Home</a>
      <div class="divider"> / </div>
      <div class="active section">{{ title }}</div>
    </div>
    <div class="category-header">
      <div class="ui massive centered header">{{ title }}</div>
    </div>

    <div class="card-grid">
        {% for subcategory in subcategories %}
      {% include "products/components/_subcategory_card.html" %}
      {% endfor %}
    </div>

    {% include "products/components/_modal_window_for_subcategory.html" %}
{% endblock main %}
{% block additional_script %}
<script src = '{% static "js/category.js" %}' ></script>
{% endblock additional_script %}