{% extends "base_main.html" %}
{% load static %}
{% load products_tags %}
{% block main %}
  <div class="ui breadcrumb">
    <a href="{% url 'main:index' %}" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="{{ product.category.parent.get_absolute_url }}" class="section">{{ product.category.parent.title }}</a>
    <div class="divider"> / </div>
    <a href="{{ product.category.get_absolute_url }}" class="section">{{ product.category.title }}</a>
    <div class="divider"> / </div>
    <div class="active section">{{ title }}</div>
  </div>
  {% include "products/components/_product_info.html" %}

    <div class="ui attached tabular menu">
      <a href="?{% change_params tab='information' %}" class="{% if request.GET.tab == 'information' or not request.GET.tab %}active{% endif %} item" data-tab="info">Product information</a>
      <a href="?{% change_params tab='reviews' %}" class="{% if request.GET.tab == 'reviews' %}active{% endif %} item" data-tab="reviews">Users' reviews</a>
    </div>
    

    {% include "products/components/_product_tabs.html" %}

    {% include "products/components/_modal_window_for_tags.html" %}
    
    
  {% endblock main %}
{% block additional_script %}
{% comment %} <script src = '{% static "js/toggle_tabs.js" %}' ></script> {% endcomment %}
<script src = '{% static "js/product.js" %}' ></script>
<script src="{% static "js/products_carousel.js" %}"></script>

{% endblock additional_script %}