{% extends "base.html" %}
{% block main %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Confirmation of deleting</h1>
  <div class="alert alert-warning text-center" role="alert">
    Are you sure you want to delete the review «{{ review.title }}»?
  </div>
  <form method="post" action="">
    {% csrf_token %}
    <div class="text-center">
      {% comment %} <button type="submit" class="btn btn-danger">Yes, delete</button> {% endcomment %}
      <input type="submit" value="Yes, delete" class="btn btn-danger">
      <a href="{{ review.get_absolute_url }}" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>
{% endblock main %}
