{% extends "base_main.html" %}
{% load static %}
{% block main %}
      <div class="ui breadcrumb">
        <a href="{% url 'main:index' %}" class="section">Home</a>
        <div class="divider"> / </div>
        <a href="{{ subcategory.parent.get_absolute_url }}" class="section">{{ subcategory.parent.title }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ title }}</div>
      </div>
      <div class="ui stackable grid product-grid">
  <div class="four wide column">
      {% include "products/components/_filtering_menu.html" %}
  </div>
  <div class="twelve wide column">
      {% include "products/components/_product_list.html" %}
  </div>
    </div>
{% endblock main %}
{% block additional_script %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src='{% static "js/subcategory.js" %}'></script>
{% endblock additional_script %}