{% extends "base_main.html" %}
{% load cache %}
{% block title %}{{ object.title }}{% endblock %}

{% block main %}
<div class="ui container" style="padding: 3em 0;">
  <div class="ui stackable grid" style="margin-bottom:1.5em;">
  <div class="eight wide column">
    <h1 class="ui header" style="margin:.2em 0 0;">
      <i class="book icon"></i>
      <div class="content">
        {{ object.title }}
        <div class="sub header">Module: {{ module.title }}</div>
      </div>
    </h1>
  </div>
  <div class="eight wide column right aligned">
    <div class="actions-right">
      <form method="post" action="{% url 'students:student_unenroll_course' object.slug %}" class="inline-form">
        {% csrf_token %}
        <button type="submit" class="ui red basic button">
          <i class="sign out alternate icon"></i> Unenroll
        </button>
      </form>
    </div>
  </div>
</div>

  <div class="ui stackable grid" style="margin-top: 2em;">
    <div class="four wide column">
      <div class="ui vertical fluid menu">
        <div class="header item">Modules</div>
        {% for m in object.modules.all %}
          <a class="item {% if m == module %}active{% endif %}" href="{% url 'students:student_course_detail_module' object.slug m.slug %}">
            <strong>Module {{ m.order|add:1 }}</strong><br>
            {{ m.title }}
          </a>
        {% empty %}
          <div class="item">No modules yet.</div>
        {% endfor %}
      </div>
    </div>

    <div class="twelve wide column">
      <div class="ui segment">
        <h3 class="ui dividing header">{{ module.title }}</h3>
        {% with contents=module.contents.all %}
        {% if contents %}
        {% cache 600 module_contents module %}
          {% for content in contents %}
            {% with item=content.item %}
            <div class="ui segment">
              <h4 class="ui header">{{ item.title }}</h4>
              <div class="ui content lesson-content">
                {{ item.render }}
              </div>
            </div>
            {% endwith %}
          {% endfor %}
          {% endcache %}
        {% else %}
          <div class="ui message">
            <div class="header">No content yet</div>
            <p>This module does not contain any content at the moment.</p>
          </div>
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
