{% extends "base_main.html" %}
{% block title %}My Courses{% endblock %}

{% block main %}
<div class="ui container" style="padding: 3em 0;">
  <h1 class="ui header center aligned">
    <i class="graduation cap icon"></i>
    <div class="content">My Courses</div>
  </h1>

  <div class="ui stackable three column grid">
    {% for course in object_list %}
    <div class="column">
      <div class="ui fluid card">
        <div class="content">
          <div class="header">{{ course.title }}</div>
        </div>
        <div class="extra content">
          <a href="{% url 'students:student_course_detail' course.slug %}" class="ui primary fluid button">
            <i class="book icon"></i> Access Contents
          </a>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="ui segment">
      <h4 class="ui header">You are not enrolled in any courses yet.</h4>
      <p>
        <a href="{% url 'courses:course_list' %}" class="ui blue button">
          <i class="search icon"></i> Browse Courses
        </a>
      </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
